In [1]:
import boto3
s3 = boto3.resource('s3')

## View Buckets

In [2]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

manyglaciers

## CopyTo S3 / Download From S3

In [5]:
import pandas as pd

In [15]:
df = pd.DataFrame({'a':[1,2,3], 'b':['A', 'B', 'C']})
df.to_csv('df.csv', index=False)
df

   a  b
0  1  A
1  2  B
2  3  C

In [8]:
s3_client = boto3.client('s3')
s3_client.upload_file('df.csv', 'manyglaciers', 'temp/df-remote.csv')

In [17]:
s3_client.download_file('manyglaciers', 'temp/df-remote.csv', 'df2.csv')

In [18]:
pd.read_csv('df2.csv')

   a  b
0  1  A
1  2  B
2  3  C

## Read from S3

In [3]:
import s3fs

In [6]:
df = pd.read_csv('s3://manyglaciers/temp/df-remote.csv')

In [7]:
df

   a  b
0  1  A
1  2  B
2  3  C

## Delete File

In [11]:
obj = s3.Object('manyglaciers', 'temp/df-remote.csv')

In [12]:
obj.delete()

{'ResponseMetadata': {'RequestId': 'C4D9BE43106C1FA3',
  'HostId': '3t2/bRVywT/8GT+/3KVWNm0wbrcBKfKQ3us+ppQjC27tPPr2SaTgewzllX495g1ufkUZrWVTStU=',
  'HTTPStatusCode': 204,
  'HTTPHeaders': {'x-amz-id-2': '3t2/bRVywT/8GT+/3KVWNm0wbrcBKfKQ3us+ppQjC27tPPr2SaTgewzllX495g1ufkUZrWVTStU=',
   'x-amz-request-id': 'C4D9BE43106C1FA3',
   'date': 'Sat, 27 Oct 2018 20:58:37 GMT',
   'server': 'AmazonS3'},
  'RetryAttempts': 1}}

## Create/Delete New Folder

In [9]:
response = s3_client.put_object(Bucket='manyglaciers',
                                Body='',
                                Key='test-folder/')

In [11]:
obj = s3.Object('manyglaciers', 'test-folder/')

In [13]:
obj.delete()

{'ResponseMetadata': {'RequestId': '8C4F4DCD89ED796D',
  'HostId': '1CNxjDinqbB2OXxGbM76B404BM0h1Gv1Lo701CYq62msWKRia41SiItxlI4v53eHe86xXZAJNdA=',
  'HTTPStatusCode': 204,
  'HTTPHeaders': {'x-amz-id-2': '1CNxjDinqbB2OXxGbM76B404BM0h1Gv1Lo701CYq62msWKRia41SiItxlI4v53eHe86xXZAJNdA=',
   'x-amz-request-id': '8C4F4DCD89ED796D',
   'date': 'Sat, 27 Oct 2018 21:05:17 GMT',
   'server': 'AmazonS3'},
  'RetryAttempts': 1}}